<div>
  <h2 id="page-heading" data-cy="DetailProduitCommandeHeading">
    <span>Detail Produit Commandes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-detail-produit-commande"
        [routerLink]="['/detail-produit-commande/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Detail Produit Commande </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="detailProduitCommandes?.length === 0">
    <span>No detailProduitCommandes found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="detailProduitCommandes && detailProduitCommandes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Quantite</span></th>
          <th scope="col"><span>Prix</span></th>
          <th scope="col"><span>Produit</span></th>
          <th scope="col"><span>Commande</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detailProduitCommande of detailProduitCommandes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/detail-produit-commande', detailProduitCommande.id, 'view']">{{ detailProduitCommande.id }}</a>
          </td>
          <td>{{ detailProduitCommande.quantite }}</td>
          <td>{{ detailProduitCommande.prix }}</td>
          <td>
            <div *ngIf="detailProduitCommande.produit">
              <a [routerLink]="['/produit', detailProduitCommande.produit?.id, 'view']">{{ detailProduitCommande.produit?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="detailProduitCommande.commande">
              <a [routerLink]="['/commande', detailProduitCommande.commande?.id, 'view']">{{ detailProduitCommande.commande?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/detail-produit-commande', detailProduitCommande.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/detail-produit-commande', detailProduitCommande.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(detailProduitCommande)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
